<h1>Edit <%= @book.name %></h1>
<p>Make Changes Below</p>

<%= form_for @book do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>

  <fieldset>
    <%= f.label :author_id %>
    <%= f.text_field :author_id%>
  </fieldset>

  <%= f.submit %>

<% end %>
