<!DOCTYPE html>
<html>
<head>
  <title>PlaceOfBooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <%= link_to "Library", books_path %>
  <%= link_to "Authors", authors_path %>
  <%= link_to "Reservations", reservations_path %>
  <%= link_to "Users", users_path %>
</header>
<body>

<%= yield %>

</body>
</html>
